*{padding:0;margin:0;font-family:Verdana, Geneva, sans-serif}
html,body{height:100%}
body{background-image:url('/images/bg.jpg')}
/* -----------------------*/
div#wrapper{display:table;height:100%;margin:0 auto;min-width:1015px}
div#entirepage{font-size:11px;line-height:16px;color:#666;display:table-cell;position:relative;text-align:left;vertical-align:middle;height:100%;margin:0 auto}
div#innerwrap{background-color:#FFF;box-shadow: 0 10px 30px #666}
a{text-decoration:none;cursor:pointer}

ul,li{list-style-type:none}
img{border:0}

.orange{color:#FAA61B !important}
.green{color:#A6CE39 !important}
.gray,ul.gray li,ul.gray li span{color:#999 !important}

.popupflash{display:none;border:5px solid #888;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;behavior:url("/css/PIE.htc");background:#fff;-moz-box-shadow:0 0 30px #000;-webkit-box-shadow:0 0 30px #000;box-shadow:0 0 30px #000;z-index:9999}
.popupflash h1{margin:10px}
.popup{display:none;width:700px;border:5px solid #888;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;behavior:url("css/PIE.htc");background:#fff;-moz-box-shadow:0 0 30px #000;-webkit-box-shadow:0 0 30px #000;box-shadow:0 0 30px #000;z-index:9999;font-size:13px;line-height:18px}
.popup .popupContent{padding:10px;color:#999}
.popup h1{width:inherit;color:#A6CE39;border-bottom:none}
.popup h2{color:#FAA61B;margin:10px 0 0 0}
.popup p{padding:10px}
.popupBig{width:830px;top:10% !important}
.popupswap{display:none;text-align:center}
.popupswap div{padding:10px 30px}
#greenpopup ul{padding-left:20px}
#promotionspopup{width:477px}
.close{position:absolute;display:block;right:-15px;top:-15px;width:26px;height:26px;background:transparent url("/images/close.png") no-repeat 0 0;text-indent:-5000px;z-index:9999}
.contact-link{padding-top:10px}
.firstcol,.secondcol{float:left}
.firstcol{width:220px}
.secondcol ul{float:left}
#logo{float:left}
#sections{height:153px}
#sections ul{text-align:center;z-index:999}

#content.nomargin{margin:0 !important;height:inherit}
#content{width:100%;height:445px;margin:5px}
h1{color:#FAA61B;font-size:17px;font-weight:normal;border-bottom:1px solid #666;width:150px}
h2{color:#A6CE39;font-size:15px;font-weight:normal;margin:10px 0}
h7{color:#666666;font-size:17px;font-weight:normal}
ol.letters,ol.letters li{list-style-type:upper-alpha;margin:5px 0 0 10px}
ul.bullets,ul.bullets li{list-style-type:disc;color:#A6CE39}
ul.bullets li span{color:#666666}
ul.threecol{float:left;width:190px;padding:5px 20px;line-height:15px}
ul.threecol li span{font-size:12px}

#scrollbar0{float:left;width:990px;margin:10px 0}
#scrollbar1{float:left;width:590px;margin:10px 0}
#scrollbar2{float:left;width:400px;margin:10px 0}
#scrollbar0 .viewport{width:980px;height:425px;overflow:hidden;position:relative}
#scrollbar1 .viewport{width:580px;height:425px;overflow:hidden;position:relative}
#scrollbar2 .viewport{width:390px;height:425px;overflow:hidden;position:relative}
#scrollbar0 .overview,#scrollbar1 .overview,#scrollbar2 .overview{list-style:none;position:absolute;left:0;top:0;padding:0 20px}
#scrollbar0 .thumb .end,#scrollbar1 .thumb .end,#scrollbar2 .thumb .end,
#scrollbar0 .scrollbar,#scrollbar1 .scrollbar,#scrollbar2 .scrollbar{position:relative;float:right;width:2px}
#scrollbar0 .thumb,#scrollbar1 .thumb,#scrollbar2 .thumb{background-color:#999999;margin:1px 0 5px 2px;height:20px;width:10px;cursor:pointer;overflow:hidden;position:absolute;top:0;z-index:2;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px}
#scrollbar0 .thumb .end,#scrollbar1 .thumb .end,#scrollbar2 .thumb .end{overflow:hidden;height:5px;width:9px}
#scrollbar0 .disable,#scrollbar1 .disable,#scrollbar2 .disable{display:none}

section{clear:both;padding-top:70px;height:390px}
section:first-of-type{padding-top:0px}
#content .column1{float:left;width:280px}
#content .column2{float:left;width:660px}
#content p{margin:20px 0}
#content .pubdesc{width:200px}
#content .quoter{font-style:italic;margin:0;text-align:right}
.bold{font-weight:bold}
.clearBoth{clear:both}
.section-item{clear:both;padding-bottom:20px}
#scrollbar0 h2{margin-top:10px}
#scrollbar0 .quoter{font-weight:bold;margin-top:10px}
#content .clickflash{font-size:12px;font-style:italic;margin-top:20px;text-align:right}

#scrollbar2 h1{font-size:15px}
#scrollbar2 h2{font-size:12px}
#scrollbar2 h7{font-size:15px}
.italic{font-style:italic}
ul.bigger li{margin-bottom:10px}
.firmbio{clear:both;min-height:250px}
.consultant{min-height:10px !important;padding-bottom:20px}
.firmbio h2,.firmbio p{margin:10px 0 0 0 !important}
#publications h2{padding-top:50px}
li.h1{font-size:17px;list-style-type:none !important;height:60px}

#section1{background:url('/images/section1.png') bottom;width:105px}
#section2{background:url('/images/section2.png') bottom;width:165px}
#section3{background:url('/images/section3.png') bottom;width:185px}
#section4{background:url('/images/section4.png') bottom;width:145px}
#section5{background:url('/images/section5.png') bottom;width:185px}
area,#green,#section1,#section2,#section3,#section4,#section5,.popflash,.ecardflash,.ecardsreturn,.timelesscontent,.timelessreturn{cursor:pointer}
#section1,#section2,#section3,#section4,#section5{display:block;height:100px;text-indent:-99999px}
#section1:hover,#section2:hover,#section3:hover,#section4:hover,#section5:hover{background-position:0 0}

#section1drop{margin-left:-55px;}
#section2drop{margin-left:-10px;}
#section3drop{margin-left:5px;}
#section5drop{margin-left:5px;}

#stuffabusmain,#csnmain,#trainpostermain{padding:0 15px !important}
.returnClick{padding:10px 30px !important;text-align:left}
.newbutton{background:url('/images/NewButton.png') top no-repeat;width:60px;height:63px;padding-bottom:10px}

#footer{text-align:center;padding-top:20px}
#footer #contact-links{height:40px;margin:0 30px}
#footer .social{float:left;width:270px}
#footer .social a img{padding-bottom:3px}
#footer .social div{display:inline;margin-left:10px}
#footer .social div a img{padding:0}
#footer .social div:hover{cursor:pointer}
#footer .personal{text-align:right;padding-top:5px}
#footer .personal a{color:#FAA61B}
#footer .personal a:hover{color:#A6CE39}
#footer .personal,#footer h1{font-size:15px;line-height:23px;margin-bottom:10px;color:#666666;width:100%;border:none}
#orange-bottom{background:url('/images/orange-bottom.png') top no-repeat;width:100%;height:100px}
#pages {padding-bottom:20px}
#pages span{color:#FAA61B}
#pages a,#pages div{color:#BDBDBD;display:inline}
#pages a:hover,#pages div:hover{color:#A6CE39;cursor:pointer}

.masthead{width:700px;height:115px}
#advertisingpopup .masthead{background-image:url('/images/popups/masthead/advertising.png')}
#brandingpopup .masthead{background-image:url('/images/popups/masthead/branding.png')}
#promotingpopup .masthead{background-image:url('/images/popups/masthead/promoting.png')}
#webmarketingpopup .masthead{background-image:url('/images/popups/masthead/web-marketing.png')}
#clientspopup .masthead{background-image:url('/images/popups/masthead/clients.png')}
#greenpopup .masthead{background-image:url('/images/popups/masthead/green-commitment.png')}
#client-list{margin-top:-20px}
/* nyMenu */
ul#nyMenu{padding-top:25px;float:right}
#nyMenu li{display:inline-block;position:relative;z-index:500;float:left}
#nyMenu li ul {width:160px;position:absolute;left:0;display:none;background:rgba(255,255,255,.90);padding:5px;z-index:498;border:4px solid #FAA61B;behavior:url("/css/PIE.htc");-moz-border-radius:20px;-webkit-border-radius:20px;-khtml-border-radius:20px;border-radius:20px}
#nyMenu li ul li {width:160px;white-space:nowrap;padding:4px 0;border-bottom:1px solid #FAA61B}
#nyMenu li ul li:last-of-type {border-bottom:none;padding-bottom:0}
#nyMenu li ul li:first-of-type {padding-top:0}
#nyMenu li ul li a,#nyMenu li ul li div {width:160px;display:block;padding:4px 0;text-decoration:none;color:#FAA61B;font-size:13px;text-align:center}
#nyMenu li ul li:hover a,#nyMenu li ul li:hover div{color:#A6CE39;cursor:pointer}
/* nyMenu ends */

/*pre-loader*/
#floatingCirclesG{
position:relative;
width:128px;
height:128px;
margin:0 auto;
-moz-transform:scale(0.6);
-webkit-transform:scale(0.6);
-ms-transform:scale(0.6);
-o-transform:scale(0.6);
transform:scale(0.6);
}

.f_circleG{
position:absolute;
background-color:#A6CE39;
height:23px;
width:23px;
-moz-border-radius:12px;
-moz-animation-name:f_fadeG;
-moz-animation-duration:1.44s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:12px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:1.44s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:12px;
-ms-animation-name:f_fadeG;
-ms-animation-duration:1.44s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:12px;
-o-animation-name:f_fadeG;
-o-animation-duration:1.44s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:12px;
animation-name:f_fadeG;
animation-duration:1.44s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#frotateG_01{
left:0;
top:52px;
-moz-animation-delay:1.8s;
-webkit-animation-delay:1.8s;
-ms-animation-delay:1.8s;
-o-animation-delay:1.8s;
animation-delay:1.8s;
}

#frotateG_02{
left:15px;
top:15px;
-moz-animation-delay:1.62s;
-webkit-animation-delay:1.62s;
-ms-animation-delay:1.62s;
-o-animation-delay:1.62s;
animation-delay:1.62s;
}

#frotateG_03{
left:52px;
top:0;
-moz-animation-delay:1.44s;
-webkit-animation-delay:1.44s;
-ms-animation-delay:1.44s;
-o-animation-delay:1.44s;
animation-delay:1.44s;
}

#frotateG_04{
right:15px;
top:15px;
-moz-animation-delay:1.26s;
-webkit-animation-delay:1.26s;
-ms-animation-delay:1.26s;
-o-animation-delay:1.26s;
animation-delay:1.26s;
}

#frotateG_05{
right:0;
top:52px;
-moz-animation-delay:1.08s;
-webkit-animation-delay:1.08s;
-ms-animation-delay:1.08s;
-o-animation-delay:1.08s;
animation-delay:1.08s;
}

#frotateG_06{
right:15px;
bottom:15px;
-moz-animation-delay:0.9s;
-webkit-animation-delay:0.9s;
-ms-animation-delay:0.9s;
-o-animation-delay:0.9s;
animation-delay:0.9s;
}

#frotateG_07{
left:52px;
bottom:0;
-moz-animation-delay:0.72s;
-webkit-animation-delay:0.72s;
-ms-animation-delay:0.72s;
-o-animation-delay:0.72s;
animation-delay:0.72s;
}

#frotateG_08{
left:15px;
bottom:15px;
-moz-animation-delay:0.54s;
-webkit-animation-delay:0.54s;
-ms-animation-delay:0.54s;
-o-animation-delay:0.54s;
animation-delay:0.54s;
}

@-moz-keyframes f_fadeG{
0%{background-color:#FAA61B}
100%{background-color:#A6CE39}
}

@-webkit-keyframes f_fadeG{
0%{background-color:#FAA61B}
100%{background-color:#A6CE39}
}

@-ms-keyframes f_fadeG{
0%{background-color:#FAA61B}
100%{background-color:#A6CE39}
}

@-o-keyframes f_fadeG{
0%{background-color:#FAA61B}
100%{background-color:#A6CE39}
}

@keyframes f_fadeG{
0%{background-color:#FAA61B}
100%{background-color:#A6CE39}
}
/*end pre-loader*/