<style type="text/css">
.largeheadline {
	color: #FF9900;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
.leadin {
	color: #FF9900;
	font-style: normal;
	font-weight: bolder;
	font-size: 14px;
}
.link2 {
	color: #660;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	overflow: hidden;
	text-decoration: none;
	font-weight: bold;
}
</style>
<center>
<table width="800
" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;">
  <tr>
    <td colspan="5" bgcolor="#FFFFFF" style="background-color: #FF9900;">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" colspan="5"><img src="http://dev.commutesmart.info/csnews/images2/spacer.gif" width="1" height="25" alt="" /></td>  
  </tr>
  <tr>
    <td width="24" valign="top"><img src="http://dev.commutesmart.info/csnews/images2/spacer.gif" width="12" height="100" alt="" /></td>  
    <td width="360" valign="top" bgcolor="#FFFFFF">
    <div style="padding: 0px; margin: 12px; display: block; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 18px; 	font-size: 12px; text-align: left;">
      <p class="largeheadline">How to Reach Us</p>
      <p>
        <SimpleURLProperty name="text_link" track="true" href="http://dev.commutesmart.info/csnews/commuternews0413S.pdf" label="Click here"></SimpleURLProperty>
        <span class="leadin">Phone:</span> 818.707.4455</p>
      <p><span class="leadin">E-mail:</span> <span class="link2"><a href="mailto:hwdesign@west.net" target="_blank" class="link2">hwdesign@west.net</a></span></p>
      <p><span class="leadin">Web: </span><span class="link2"><a href="http://www.westdesign.com" class="link2">westdesign.com</a></span></p>
      <p><span class="leadin">Blog:</span> <span class="link2"><a href="http://successfulcorporatecommunications.com" target="_blank" class="link2">successfulcorporatecommunications.com</a></span></p>
      <p><span class="leadin">Linkedin:</span> <span class="leadin"><a href="http://www.linkedin.com/in/harlanwest" target="_blank" class="link2">linkedin.com/in/harlanwest</a></span></p>
      <p><span class="leadin">Twitter:</span> <span class="link2"><a href="http://www.twitter.com/hwdsinc" target="_blank" class="link2">twitter.com/hwdsinc</a></span></p>
    </div></td>
    <td width="383" valign="top"><img src="/images/contact/firmofficechair.jpg" alt="Firn office chair" width="300" height="200" align="right"></td>
    <td width="8" valign="top">
      <div style="padding: 0px; margin: 0px; ">
        <p>
          
          </p>
      </div></td>
    <td width="25" valign="top"><img src="http://dev.commutesmart.info/csnews/images2/spacer.gif" width="12" height="100" alt="" /></td>
  </tr>
  <tr>
    <td valign="top" colspan="5"><img src="http://dev.commutesmart.info/csnews//images2/spacer.gif" width="1" height="25" alt="" /></td>  
  </tr>
</table>
</center>
<map name="Map" id="Map">
  <area shape="rect" coords="-2,1,92,44" href="http://www.metro.net" target="_blank" />
  <area shape="rect" coords="133,0,180,45" href="http://www.octa.net" target="_blank" />
  <area shape="rect" coords="231,1,305,41" href="http://www.sanbag.ca.gov/" target="_blank" />
  <area shape="rect" coords="344,-1,420,41" href="http://www.goventura.org" target="_blank" />
</map>