<div id="content" class="nomargin">
	<div id="showcase" class="showcase">
		<!-- Each child div in #showcase represents a slide -->
		<div class="showcase-slide">
			<!-- Put the slide content in a div with the class .showcase-content. -->
			<div class="showcase-content">
				<img src="images/index/01.gif" alt="01" />
			</div>
		</div>
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="images/index/02.jpg" alt="02" />
			</div>
		</div>
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="images/index/03.jpg" alt="03" />
			</div>
		</div>
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="images/index/04.jpg" alt="04" />
			</div>
		</div>
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="images/index/05.jpg" alt="05" />
			</div>
		</div>
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="images/index/06.jpg" alt="06" />
			</div>
		</div>
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="images/index/07.gif" alt="07" />
			</div>
		</div>
		<div class="showcase-slide">
			<div class="showcase-content">
				<img src="images/index/08.jpg" alt="08" />
			</div>
		</div>
	</div>	
</div>