<div id="content">
	<div id="scrollbar0">
		<div class="scrollbar"><div class="track"><img src="images/scrollbar.png" style="margin-top:-9px;"/><div class="thumb"><div class="end"></div></div></div></div>
		<div class="viewport">
			<div class="overview">
				<h1>Interactive</h1>

				<section>
					<div class="column1">
						<h2><div class='newbutton'>&nbsp;</div></h2>
						<div class="pubdesc">
							On the Go is a bimonthly rideshare e-newsletter that contains user-friendly interactive flipping pages and resources links. It is sent out via an email link every other month (with a 1-page version for employees monthly).  In addition, this publication is funded by 4 southern California transportation commissions and includes expanded sections for local county news.
							<br/><br/>
							We designed this 8-page newsletter to feature the latest rideshare news, program updates, advice, marketing ideas and more.
						</div>
					</div>
					<div class="column2"><img width="680" height="378" src="images/interactive/eNews.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>Interactive CD-Rom</h2>
						<p class="bold">Client: Metrolink</p>
						<div class="pubdesc">
							HWDS designed and developed this interactive CD-ROM that includes an interactive iMag of the 20th Anniversary Report, an embedded video and links to external resource sites.
						</div>
					</div>
					<div class="column2"><img width="680" height="378" src="images/interactive/Metrolink-CD.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>Holiday E-card</h2>
						<p class="bold">Client: LLG Engineers, Santa Ana, CA</p>
						<div class="pubdesc">
							HWDS created this holiday E-card for Linscott, Law &amp; Greenspan Engineers (LLG Partners).  This Flash piece  includes a dynamic starburst video and was distributed to clients of LLG Partners  via e-mail to commemorate the New Year.
							<div class="clickflash">Click on the image to the right<br/>to view a Flash animation.</div>
						</div>
					</div>
					<div class="column2 popflash" rel="#swf0popup"><img width="680" height="378" src="images/interactive/LLGCardscreen.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>Holiday E-card</h2>
						<p class="bold">Client: Southern California Regional Rail Authority, Los Angeles, CA</p>
						<div class="pubdesc">
							HWDS created this holiday e-card for Metrolink.  We created an illustration of the holiday train that includes flashing lights together with a holiday message and music.  This Flash piece was distributed via e-mail to commemorate the 2010/2011 holiday season.
							<div class="clickflash">Click on the image to the right<br/>to view a Flash animation.</div>
						</div>
					</div>
					<div class="column2 popflash" rel="#swf1popup"><img width="680" height="378" src="images/interactive/MetrolinkHolidayCard.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>Online newsletter and e-blast</h2>
						<p class="bold">Client: Regional Transportation Commissions: Metro, SANBAG, OCTA and VCTC</p>
						<div class="pubdesc">
							HWDS has been designing CommuteSmart News since 2005. Each month we design a 6-page employer issue and a 1-page commuter issue which feature valuable tips to promote and encourage ridesharing among employees.
						</div>
					</div>
					<div class="column2"><img width="680" height="378" src="images/interactive/CSNewswithmonitor-and-cell.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>Bringing Back Broadway Web Site</h2>
						<p class="bold">Client: National Preservation Partners/City of Los Angeles</p>
						<div class="pubdesc">
							Our firm was hired by the Office of Los Angeles City Councilmember José Huizar to create a new Web site and Vision Document to promote a revitalization of the Broadway Theater District in Downtown LA. We combined art deco elements and typefaces to create a unique identity for this historic revitalization that brought together community and business leaders. The entire Web site can be viewed at: <a href="http://www.bringingbackbroadway.com" target="_blank">www.bringingbackbroadway.com</a>
						</div>
					</div>
					<div class="column2"><img width="680" height="378" src="images/interactive/Bringingbackbroadway.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>Tashman and Associates Web Site</h2>
						<p class="bold">Client: Tashman and Associates, Santa Monica, CA</p>
						<div class="pubdesc">
							We designed a new Web site for Tashman and Associates, a merchandising consultant for retail giants such as Home Depot. We designed this site to include a scrollable search engine, audio tracks, special rollover effects and an introductory Flash presentation that builds the logo. This Web site is a companion piece to a 6-color fold-out brochure that can be viewed in the publications section of our Web site. Please visit <a href="http://www.tashman.com" target="_blank">www.tashman.com</a>
						</div>
					</div>
					<div class="column2"><img width="680" height="378" src="images/interactive/tashman.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>Women and Words Web Site</h2>
						<p class="bold">Client: Pathways Strategic Communications, Los Angeles, CA</p>
						<div class="pubdesc">
							HWDS designs and maintains the Web site for this non-profit organization that promotes the writings of female authors and includes an annual literary event to benefit a local children's charity. Please visit <a href="http://www.womenandwords.com" target="_blank">www.womenandwords.com</a>
						</div>
					</div>
					<div class="column2"><img width="680" height="378" src="images/interactive/womenandwords.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>E-Blasts</h2>
						<p class="bold">Client: Los Angeles Metropolitan Transportation Authority (Metro), Los Angeles, CA</p>
						<div class="pubdesc">
							HWDS has designed e-blasts for the Los Angeles Metropolitan Transportation Authority (Metro) to promote events such as Bike to Work Day, Rideshare Week as well as special commuter incentives for vanpooling, carpooling and public transit usage. These e-blasts are distributed via e-mail to more than 1,500 Southern California employers and link back to Web pages that include sound clips and the full articles.
						</div>
					</div>
					<div class="column2"><img width="680" height="378" src="images/interactive/Eblasts.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>Torrance Historical Society Web Site</h2>
						<p class="bold">Client: Torrance Historical Society, Torrance, CA</p>
						<div class="pubdesc">
							HWDS designed this Web site using archival photos to promote local historical society. HWDS used colorized historical photos and arranged these in a clickable grid which links to web pages on museum events, opportunities and charitable donations. Please visit the Web site at <a href="http://www.torrancehistoricalsociety.org" target="_blank">http://www.torrancehistoricalsociety.org/</a>
						</div>
					</div>
					<div class="column2"><img width="680" height="378" src="images/interactive/torrance.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>Law Firm Web Site</h2>
						<p class="bold">Client: Legal Firm, Santa Ana, CA</p>
						<div class="pubdesc">
							HWDS created the initial design for this law firm Web site. We also created the Flash animation for the top of the main interface.
						</div>
					</div>
					<div class="column2"><img width="680" height="378" src="images/interactive/HollinsSchecter.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>Web Banners</h2>
						<p class="bold">Client: Southern California Regional Rail Authority (SCRRA)</p>
						<div class="pubdesc">
							HWDS regularly designs new Web banners for special events, construction and maintenance updates, new equipment and schedule changes.
						</div>
					</div>
					<div class="column2"><img width="680" height="378" src="images/interactive/metrolink.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>Cherriots Rideshare Web Site</h2>
						<p class="bold">Client: Cherriots Rideshare, Salem, OR</p>
						<div class="pubdesc">
							HWDS was commissioned to design an interactive Web site, a new logo identity and a marketing package to promote ridesharing and commute alternatives for the Salem-Keizer Transit District in Salem, Oregon. The goal was to emphasize that ridesharing can improve one's quality of life by reducing stress, traffic congestion, air pollution and a reliance on gasoline. We created a unique curved layout of rollovers for the main home page and gave the site a branded look consistent with the program's logo identity. Please visit <a href="http://www.cherriotsrideshare.org" target="_blank">www.cherriotsrideshare.org</a>.
						</div>
					</div>
					<div class="column2"><img width="680" height="378" src="images/interactive/Cherriots.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>Flash Animation</h2>
						<p class="bold">Client: Wilspen, Los Angeles, CA</p>
						<div class="pubdesc">
							HWDS created this Flash animation for this political consulting firm which deals with clients on both sides of the political spectrum.
							<div class="clickflash">Click on the image to the right<br/>to view a Flash animation.</div>
						</div>
					</div>
					<div class="column2 popflash" rel="#swf2popup"><img width="680" height="378" src="images/interactive/wilspenstaticscreen.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>Animated Web Banner Ad</h2>
						<p class="bold">Client: TakeTransit.net, Los Angeles, CA</p>
						<div class="pubdesc">
							As part of a larger campaign that included Web buttons, interior bus cards and posters, we created Web banner ads which appeared on MapQuest.com. TakeTransit.net is a consortium of government agencies with the goal of promoting public transit usage in Southern California.
							<div class="clickflash">Click on the image to the right<br/>to view a Flash animation.</div>
						</div>
					</div>
					<div class="column2 popflash" rel="#swf3popup"><img width="680" height="378" src="images/interactive/TakeTransitstaticscreensquare.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>Animated Web Banner Ad</h2>
						<p class="bold">Client: TakeTransit.net, Los Angeles, CA</p>
						<div class="pubdesc">
							This is a wider format Web banner bar which appeared on MapQuest.com.
							<div class="clickflash">Click on the image to the right<br/>to view a Flash animation.</div>
						</div>
					</div>
					<div class="column2 popflash" rel="#swf4popup"><img width="680" height="378" src="images/interactive/TakeTransitstaticscreen3.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>New Year's 2010 E-card</h2>
						<p class="bold">Client: LLG Engineers, Santa Ana, CA</p>
						<div class="pubdesc">
							HWDS created this holiday E-card for Linscott, Law &amp; Greenspan Engineers (LLG Partners).  This Flash piece  includes fun animation of a classic Mustang driving through an intersection that has been reengineered by the client.
							<div class="clickflash">Click on the image to the right<br/>to view a Flash animation.</div>
						</div>
					</div>
					<div class="column2 popflash" rel="#swf5popup"><img width="680" height="378" src="images/interactive/LLGCard2010Screen1.jpg"/></div>
				</section>					
				
				<section>
					<div class="column1">
						<h2>Traffic Advisory Web Banner Ads</h2>
						<p class="bold">Client: Wilson Bridge Project/Potomac Crossing Consultants, VA</p>
						<div class="pubdesc">
							HWDS created this advertisement to warn of increased traffic with the opening of the newly remodeled Woodrow Wilson Bridge in Maryland.
							<div class="clickflash">Click on the image to the right<br/>to view a Flash animation.</div>
						</div>
					</div>
					<div class="column2 popflash" rel="#swf6popup"><img width="680" height="378" src="images/interactive/WilsonBridge1.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>Animation for Product Web site</h2>
						<p class="bold">Client: Standbagger.com, Whittier, CA</p>
						<div class="pubdesc">
							Illustration and animation of logo for Web site to promote tripod carrying case for photography equipment. This animated logo appeared on the client's Web site.
							<div class="clickflash">Click on the image to the right<br/>to view a Flash animation.</div>
						</div>
					</div>
					<div class="column2 popflash" rel="#swf7popup"><img width="680" height="378" src="images/interactive/standbaggerstaticscreen.jpg"/></div>
				</section>
				
  				<section>
					<div class="column1">
						<h2>Animation for Product Promotion</h2>
						<p class="bold">Client: Fly Fisherman</p>
						<div class="pubdesc">
							Illustration and animation of logo to promote client's Web Site. The client is a seller of fishing equipment and apparel.
							<div class="clickflash">Click on the image to the right<br/>to view a Flash animation.</div>
						</div>
					</div>
					<div class="column2 popflash" rel="#swf8popup"><img width="680" height="378" src="images/interactive/Flyfisherman.jpg"/></div>
				</section>
				
	  			<section>
					<div class="column1">
						<h2>Holiday Greeting Card</h2>
						<p class="bold">Client: HWDS and Associates, Inc., Westlake Village, CA</p>
						<div class="pubdesc">
							HWDS created this beautiful Flash animation as an online holiday e-card to send to our clients.  This interactive piece received a 2010 Coastal ADDY Award from the American Advertising Federation of Santa Barbara. Please visit <a href="http://www.westdesign.com/2010HolidayCard" target="_blank">westdesign.com/2010HolidayCard</a>
						</div>
					</div>
					<div class="column2"><img width="680" height="378" src="images/interactive/HWDS2010Holidaycardscreen.jpg"/></div>
				</section>
				
				<section>
					<div class="column1">
						<h2>E-blast</h2>
						<p class="bold">Client: City of Santa Monica, CA</p>
						<div class="pubdesc">
							HWDS created this online e-blast for the city of Santa Monica to inform local merchants of the deadline for renewing business licenses. We also created a matching 4-color postcard.
						</div>
					</div>
					<div class="column2"><img width="680" height="378" src="images/interactive/SMLicenseRenewalScreen.jpg"/></div>
				</section>
				
			</div>
		</div>
	</div>
</div>

<div class="popupflash" ng-repeat="flashvideo in flashvideos" id="swf{{flashvideo.id}}popup">
	<div id="flashcontent{{flashvideo.id}}">
		<h1>You need Flash to view the proper content.</h1>
		<img height="400" width="720" ng-src="images/interactive/{{flashvideo.img}}"/>
	</div>
</div>