<style type="text/css">
.largeheadline {
	color: #FF9900;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
</style>
<center>
<table width="800
" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;">
  <tr>
    <td colspan="5" bgcolor="#FFFFFF" style="background-color: #FF9900;">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" colspan="5"><img src="http://dev.commutesmart.info/csnews/images2/spacer.gif" width="1" height="25" alt="" /></td>  
  </tr>
  <tr>
    <td valign="top"><img src="http://dev.commutesmart.info/csnews/images2/spacer.gif" width="12" height="100" alt="" /></td>  
    <td valign="top" bgcolor="#FFFFFF">
    <div style="padding: 0px; margin: 12px; display: block; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 18px; 	font-size: 12px; text-align: left;">
      <p class="largeheadline">Memberships</p>
      <p>
        <SimpleURLProperty name="text_link" track="true" href="http://dev.commutesmart.info/csnews/commuternews0413S.pdf" label="Click here"></SimpleURLProperty>
        HWDS is a proud member of the following organizations:</p>
      <p><a href="http://www.VICA.com" target="_blank"><img src="images/memberships/ProudVicaMemberlogo.png" alt="VICA logo" width="120" height="120" border="0"></a></p>
      <p>VICA is widely considered one of the most influential business advocacy  organizations in Southern California. With its knowledge of the  legislative process and economic issues, VICA's access to public  officials ensures that the San Fernando Valley's business perspective  will be heard in the interest of improving our business climate and  quality of life. With input and guidance from its members, VICA  maintains a regular presence at all levels of government to effectively  represent Valley businesses.</p>
      <p><a href="http://www.http://www.aiga.org/" target="_blank"><img src="images/memberships/aiga-logo.gif" alt="AIGA logo" width="95" height="95" border="0"></a></p>
      <p>AIGA, the professional association for design, is committed to advancing  design as a professional craft, strategic advantage and vital cultural  force. Founded in 1914 as the American Institute of Graphic Arts, AIGA remains the oldest and largest professional membership organization for design and is now known simply as &ldquo;AIGA, the professional association for design.&rdquo;</p>
    </div></td>
    <td valign="top">&nbsp;</td>
    <td valign="top">
      <div style="padding: 0px; margin: 0px; ">
        <p>
          
          </p>
      </div></td>
    <td valign="top"><img src="http://dev.commutesmart.info/csnews/images2/spacer.gif" width="12" height="100" alt="" /></td>
  </tr>
  <tr>
    <td valign="top" colspan="5"><img src="http://dev.commutesmart.info/csnews//images2/spacer.gif" width="1" height="25" alt="" /></td>  
  </tr>
</table>
</center>

<map name="Map" id="Map">
  <area shape="rect" coords="-2,1,92,44" href="http://www.metro.net" target="_blank" />
  <area shape="rect" coords="133,0,180,45" href="http://www.octa.net" target="_blank" />
  <area shape="rect" coords="231,1,305,41" href="http://www.sanbag.ca.gov/" target="_blank" />
  <area shape="rect" coords="344,-1,420,41" href="http://www.goventura.org" target="_blank" />
</map>