<style type="text/css">
.largeheadline {
	color: #FF9900;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-weight: bolder;
}
.BoldleadinorangeCopy {
	color: #FF9900;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-weight: bold;
}
.linknounderline {
	color: #690;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}
#content p {margin:20px}
</style>
<div id="content">
  <div id="scrollbar0">
    <div style="display: block; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 18px; 	font-size: 12px; text-align: left;">
        <p class="largeheadline">Mini Sample Books</p>
        <p>
          These are  mini sample books of our corporate portfolio available for download as PDFs.<br/>
        </p>
        <p><img src="/images/minisamplebooks/minportfolioprint3.jpg" width="865" height="95" alt="miniportfolio"></p>
        <p><span class="BoldleadinorangeCopy">Portfolio Book I </span>(above) includes  designs for print projects. These are newsletters, elegant event promotions, corporate reports, promotions and coprorate identity systems, developed by HWDS for a variety of clients. <a href="/images/minisamplebooks/HWDSMiniPortfolioPRINT.pdf" title="PDF" target="_blank" class="linknounderline">Download &gt;</a><br/><br/>
        </p>
        <p><img src="/images/minisamplebooks/minprotfolioweb3.jpg" width="865" height="95" alt="Microweb"></p>
        <p><span class="BoldleadinorangeCopy">Portfolio Book II </span>(above) includes designs for online projects. These are online publications, web sites, flipbooks and animations that HWDS has developed for our clients to use on the Web. <a href="/images/minisamplebooks/HWDSMiniPortfolioWEB.pdf" title="PDF" target="_blank" class="linknounderline">Download &gt;</a></p>
    </div>
  </div>
</div>