<style type="text/css">
.largeheadline {
	color: #FF9900;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-weight: bolder;
}
.BoldleadinorangeCopy {
	color: #FF9900;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-weight: bold;
}
.linknounderline {
	color: #690;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}
</style>
<table width="900" border="0" cellspacing="0" cellpadding="0" style="background-color: #fff;margin:0 auto;">
  <tr>
    <td valign="top"><img src="http://dev.commutesmart.info/csnews/images2/spacer.gif" width="1" height="10" alt="" /></td>  
  </tr>
  <tr>
    <td valign="top" bgcolor="#FFFFFF">
    <div style="display: block; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 18px; 	font-size: 12px; text-align: left;">
      <p class="largeheadline">Mini Sample Books</p>
      <p>
        <SimpleURLProperty name="text_link" track="true" href="http://dev.commutesmart.info/csnews/commuternews0413S.pdf" label="Click here"></SimpleURLProperty>
        These are  mini sample books of our corporate portfolio available for download as PDFs.<br/>
      </p>
      <p><img src="/images/minisamplebooks/minportfolioprint2.jpg" width="865" height="85" alt="miniportfolio"></p>
      <p><span class="BoldleadinorangeCopy">Portfolio Book I </span>(above) includes  designs for print projects. These are newsletters, elegant event promotions, corporate reports, promotions and coprorate identity systems, developed by HWDS for a variety of clients. <a href="/images/minisamplebooks/HWDSMiniPortfolioPRINT.pdf" title="PDF" target="_blank" class="linknounderline">Download &gt;</a><br/><br/>
      </p>
      <p><img src="/images/minisamplebooks/minprotfolioweb2.jpg" width="865" height="85" alt="Microweb"></p>
      <p><span class="BoldleadinorangeCopy">Portfolio Book II </span>(above) includes designs for online projects. These are online publications, web sites, flipbooks and animations that HWDS has developed for our clients to use on the Web. <a href="/images/minisamplebooks/HWDSMiniPortfolioWEB.pdf" title="PDF" target="_blank" class="linknounderline">Download &gt;</a></p>
    </div></td>
  </tr>
</table>
</center>

<map name="Map" id="Map">
  <area shape="rect" coords="-2,1,92,44" href="http://www.metro.net" target="_blank" />
  <area shape="rect" coords="133,0,180,45" href="http://www.octa.net" target="_blank" />
  <area shape="rect" coords="231,1,305,41" href="http://www.sanbag.ca.gov/" target="_blank" />
  <area shape="rect" coords="344,-1,420,41" href="http://www.goventura.org" target="_blank" />
</map>